header {
    width: 100%;
    padding: 10px;
    position: absolute;
    background: $secondary-color;
    top: 0;
    left: 0;
    z-index: 10;
    
    display: flex;


    h1 {
        margin: 0;
        padding: 0;
        padding: 5px;
        color: white;
        font-size: clamp(1.5rem, 2.5vw, 2.5rem);
        font-weight: 700;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: 5px solid $primary-color;
        border-radius: 5px;
        background: $primary-color;

    }
    .logo-box {
        background-image: url(../Imgs/pngtree-heart-broken-man-png-image_11461134.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        width: 40px;
        height: 40px;
        border-radius: 5px; 
        
    }
}
